<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wavegen Technologies Inc.</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">WaveGen Technologies</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">About Us</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#portfolio">Scope</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#about">Timeline</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Wavegen</div>
                <div class="intro-lead-in"></div>

                <a href="#services" class="page-scroll btn btn-xl">Read More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who we are</h2><br>
                    <h3 class="section-subheading text-muted">
                      The objective of WaveGen Technologies Inc. is to provide process control technology that enables economically feasible renewable energy to consumers in markets with high demand for renewable power. We are a CCPC-Corporation effective from 29th March, 2016 currently operating from Toronto, Ontario, Canada. At present, we are at the research and development stage Intelligent process control of point absorber type wave energy converter systems (WEC). When operational, we will act as technical consultants and intermediator between an Independent Power Producer (IPP) with a government contract and commercial WEC provider to suitable customers. Our mission is to avoid stagnation and always challenge ourselves to improve on creating an energy solution that mitigates the climate crisis of the world and empowers growing economies.
                      <br><br>
                      WaveGen is a technology provider meaning its product will be a royalty based technology that provides grid connected electricity through WECs. WaveGen has a solution for complete process control as well coupling mechanisms that allows intelligent process design using top tier control algorithm technology (patent pending) that enables WECs to achieve grid parity as well as bridge the connection with license holder IPP and commercial grade WEC manufacturers. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Control System</h4>
                    <p class="text-muted">Runs predictive and statistical analysis to protect zones of highest power potential</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-anchor fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dynamic Mooring</h4>
                    <p class="text-muted">Based on analysis, moves the WECs to the designated zones</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gear fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Structural Design</h4>
                    <p class="text-muted">Mechanical and Electrical designs that ensure functionality and performance</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Target Market</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/assets/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Round Icons</h4>
                        <p class="text-muted">Graphic Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Startup Framework</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Treehouse</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/golden.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Golden</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/escape.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/dreams.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">Website Design</p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class= "bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">WaveGen has identified significant milestones and have a plan to accomplish them in certain time
periods. An early assessment of this timeline is as shown below:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/hand.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                    <br>
                                    <br>
                                    <h4>2017</h4>
                                    <h4 class="subheading">Design Finalization</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                                    Fund Raising <br> Acquiring workspace
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/customer-outreach.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">

                                  <br>
                                  <br>
                                    <h4>2018</h4>
                                    <h4 class="subheading">Customer Outreach</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Licensing<br>Submitting the letter of intent</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/partnership.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <br>
                                  <br>
                                  <br>
                                    <h4>Late 2018</h4>
                                    <h4 class="subheading">Partnership Outreach</h4>
                                </div>

                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive img-centered" src="assets/about/proposal.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <br>
                                  <br>
                                  <br>
                                    <h4>2019</h4>
                                    <h4 class="subheading">Project Proposal</h4>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/initiation.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <br>
                                  <br>
                                  <br>
                                    <h4>2020</h4>
                                    <h4 class="subheading">Project initiation</h4>
                                </div>

                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="assets/about/electricity.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <br>
                                  <br>
                                  <br>
                                    <h4>2025</h4>
                                    <h4 class="subheading">Profit from sales</h4>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="assets/caniggia.jpg" class="img-responsive img-circle" alt="">
                        <h4>Caniggia Diniz</h4>
                        <p class="text-muted">Chief Technical Officer</p>
                        <p class="member-description"> Caniggia is an graduate candidate for Masters of Engineering in Electrical Engineering from the University of Toronto. He specializes in Power Systems and has been working with power electronics and power processing and transmission. </p>
                        <br>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="assets/nishanto.jpg" class="img-responsive img-circle" alt="">
                        <h4>Nishanto Nahid Pishon</h4>
                        <p class="text-muted">Chief Executive Officer</p>
                        <p class="member-description"> Nishanto holds a B.A.Sc. Mechanical Engineering degree from the University of Toronto. Over the years Nishanto has inspired the rest of the team with his passion. He is currently leading and managing the project development as well as working as mechanical design lead and public relations.</p>


                        <ul class="list-inline social-buttons">

                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="assets/soo.jpg" class="img-responsive img-circle" alt="">
                        <h4>Soo Kim</h4>
                        <p class="text-muted">Chief Operating Officer</p>
                        <p class="member-description"> Soo is an undergraduate student pursuing a degree in Honors Bachelors of Science from the University of Toronto. She is experienced in team management, organization and project management from her various leadership roles.
                         <br>
                          <br>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <br>
    <br>
    <br>
    <aside class="clients">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                  <h1 class="section-heading">Our Partners</h1>
                  <h3 class="section-subheading text-muted"></h3>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://hatchery.engineering.utoronto.ca/" target="_blank">
                        <img src="assets/hatchery_twitter-icon.png" class="img-responsive img-centered" alt="">
                        <p class="partner-name"> The UofT Entrepreneurship Hatchery </p>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="http://www.mie.utoronto.ca/" target="_blank">
                        <img src="assets/UofT-Crest-Square.png" class="img-responsive img-centered" alt="">
                        <p class="partner-name2"> MIE Department, UofT </p>
                    </a>
                </div>
            </div>
        </div>
    </aside>


    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 contactspacing">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="section-heading">contact@wavegentech.ca</h4>
              </div>

              <div class="col-md-6 contactspacing">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="section-heading">+1-(647)-339-1991</h4>
              </div>

            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; WaveGen Technologies Inc. 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
